.projects-container {
  background-color: #f2f2f2;
  /* slurped color from editor pic */
  /* background-color: #192532; */
  height: auto;
  width: 100%;
  color: black;
}

.projects-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.project-cards-containers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.left-project {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-shorts-container {
  display: flex;
  flex-direction: column;
}

.right-short-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50vw;
}


#right-project-img,
#right-short-top-img,
#right-short-bottom-img,
#left-project-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#algo-sorter-text {
  width: 40%;
}

#fec-text,
#sdc-text,
#thought-bubble-text {
  width: 45%;
}

#fec-text,
#sdc-text,
#thought-bubble-text,
#algo-sorter-text {
  background: rgba(204, 204, 204, 0.7);
  padding: 7.5px;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
}

.proj-titles {
  text-emphasis: bolder;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
